
h1 {

  /*線の種類（二重線）太さ 色*/
  background-color: azure;
  font-size: 900% ;
  color: rgb(90, 83, 83);
  line-height: 0;
  text-align: center;
}
h2 {
  text-align: center;
  background: linear-gradient(transparent 50%, #20da83 50%);

  margin-bottom: 0;
  font-size: 480%;
  color: rgb(90, 83, 83)
  

}

img {
  width: 900px;
  padding: 0;
  border-radius: 80px;
  text-align: center;
}

div {
 
  text-align: center;
  color: rgb(90, 83, 83)
  
}

body {
  text-align: center;
  background-color: rgb(241, 129, 129);
 
}

a.example02-01 { 
  padding: 8px 20px; 
  background: #877666; 
  color:#fff; 
  text-align: center;
}

